*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-box{
    margin: 20px 15%;
}

.img-logo{
    height: 50px;
    vertical-align: middle;
    padding-right: 15px;
    border-right: 1px solid #DBDBDB;
}
nav{
    margin-bottom: 30px;
    margin-top: 30px;
    color: #DBDBDB;
}
nav ul il {
    display: inline;
    text-transform: uppercase;
}
.first-section{
    background-image: url(img/banner.jpg);
    background-size: cover;
    border-radius: 15px;
}
.first-section > div {
    display: inline-block;
    margin-top: 300px;
    padding: 50px;
}

.box-blu{
    background-color: #3257fc;
    height:500px
}
footer{
    background-color: #ac53ac;
    height: 50px;

}
.text-box{
    background-color: #8efdee;
}
.container.clearfix *{
    background-color: #8efdee;
}
.text-box{
    height:50px;
    margin-bottom: 20px
}
aside,.c-box{
    height: 410px;
}
.c-box {
    width: 55%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    }

aside{
    width: 20%;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.clearfix > *{
    float: left;
}
