*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Noto Sans SC', sans-serif;
}

.container-box{
    margin: 30px 40px;
}

.img-logo{
    height: 50px;
    vertical-align: middle;
    padding-right: 15px;
    border-right: 1px solid #DBDBDB;
}
nav{
    margin-bottom: 30px;
    margin-top: 30px;
    color: #DBDBDB;
}
nav ul il {
    display: inline;
    text-transform: uppercase;
}
.first-section{
    background-image: url(img/banner.jpg);
    background-size: cover;
    border-radius: 15px;
    color: #ffffff;
}
.first-section > div {
    display: inline-block;
    margin-top: 200px;
    margin-right: 20%;
    padding: 50px;
}



.text-box{
    height:50px;
    margin-bottom: 20px;
}
aside > .img, .c-box > .img{
    display: block;
    border-radius: 15px;
    height: 150px;
    background-size: cover;
}
.img.left-aside{
    background-image: url(img/img-1.jpg);
    background-size: cover;
}
.img.right-aside{
    background-image: url(img/img-3.jpg);
}
.img.center-side{
    background-image: url(img/banner-2.jpg);
}
h3 > p{
    display: inline-block;
}

.c-box {
    width: 55%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    }

aside{
    width: 20%;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.clearfix > *{
    float: left;
}

footer{
    text-align: center;
    border-top: 30px;
}
.footer-img{
    color: #FF0000;
}
footer > p {
    display: block;
}